@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width:  100%;
	height: 100vh;
}

.card{
	width: 350px;
	height: 550px;
	background: #F3F3F3;
	box-shadow: 0px 16px 64px rgba(243, 243, 243, 0.1);
	border-radius: 10px;
	font-family: Poppins;
	position: relative;
}

.exit{
	position: absolute;
	top: 20px;
	right: 20px;
}

.head{
	margin-top: 30px;
	text-align: center;
}

.title{
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	line-height: 37px;
	color: #004973;
	
}

.place{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #004973;
}

.circle-holder{
	margin:  10px 0;
	padding: 20px;
	/*
	display: flex;
	align-items: center;
	justify-content: center;*/

}
.circle{
	border-radius: 100px;
	width: 160px;
	height: 160px;
	background: rgba(198, 198, 198, 0.6);
	margin: 0 auto;
}

.profile{
	position: absolute;
	width: 350px;
	height: 50%;
	background: #004973;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.name{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #FFFFFF;
}

.job{
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: #C3C3C3;
}
